In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set()
%matplotlib inline

In [3]:
np.random.seed(123467)
cuts=np.sort(np.random.randint(0,140,19))
cuts=np.append([0],np.append(cuts,[140]))
cuts = cuts[1:]-cuts[:-1]
df_1 = pd.DataFrame(np.cumprod(1-np.repeat(np.random.randint(-5,6,20), cuts)/10), columns=['Level'])
df_2 = pd.DataFrame({'year':2011,
              'month': 6,
              'day':[21]*12+[22]*6,
              'hour':list(range(0,24,2))+list(range(0,11,2)),
              'threshold':np.random.randint(0,90,size=18)/100})

# Assignment 1
The DataFrame `df_1` contains measurements of power levels taken at fifteen minute intervals. The measurements started on Jun 21, 2011 at midnight. Create a datetime index for the DataFrame, labeling each observation with its observation time.
<details><summary>Hint 1</summary>
    <p>
        Pandas has the function `data_range`, that can generate a DataTimeIndex
    </p>
</details>
<details><summary>Hint 2</summary>
    <p>
        A new index can be assigned to a DataFrame by assigning it to the `index` attribute of the DataFrame
    </p>
</details>

In [35]:
df1_date=df_1.set_index(pd.Index(pd.date_range(start='21/06/2011 00:00:00',freq="15min",periods=140)))
df1_date

                        Level
2011-06-21 00:00:00  0.800000
2011-06-21 00:15:00  0.800000
2011-06-21 00:30:00  0.800000
2011-06-21 00:45:00  0.800000
2011-06-21 01:00:00  0.800000
2011-06-21 01:15:00  0.800000
2011-06-21 01:30:00  0.800000
2011-06-21 01:45:00  0.800000
2011-06-21 02:00:00  0.800000
2011-06-21 02:15:00  0.800000
2011-06-21 02:30:00  0.800000
2011-06-21 02:45:00  0.400000
2011-06-21 03:00:00  0.200000
2011-06-21 03:15:00  0.100000
2011-06-21 03:30:00  0.050000
2011-06-21 03:45:00  0.025000
2011-06-21 04:00:00  0.012500
2011-06-21 04:15:00  0.006250
2011-06-21 04:30:00  0.003125
2011-06-21 04:45:00  0.001875
2011-06-21 05:00:00  0.002063
2011-06-21 05:15:00  0.002269
2011-06-21 05:30:00  0.002496
2011-06-21 05:45:00  0.002745
2011-06-21 06:00:00  0.003020
2011-06-21 06:15:00  0.003322
2011-06-21 06:30:00  0.004983
2011-06-21 06:45:00  0.007474
2011-06-21 07:00:00  0.011211
2011-06-21 07:15:00  0.016816
...                       ...
2011-06-22 03:30:00  0.001016
2011-06-22 03:45:00  0.001523
2011-06-22 04:00:00  0.001066
2011-06-22 04:15:00  0.000746
2011-06-22 04:30:00  0.000523
2011-06-22 04:45:00  0.000366
2011-06-22 05:00:00  0.000256
2011-06-22 05:15:00  0.000179
2011-06-22 05:30:00  0.000125
2011-06-22 05:45:00  0.000163
2011-06-22 06:00:00  0.000228
2011-06-22 06:15:00  0.000320
2011-06-22 06:30:00  0.000448
2011-06-22 06:45:00  0.000627
2011-06-22 07:00:00  0.000877
2011-06-22 07:15:00  0.001228
2011-06-22 07:30:00  0.001719
2011-06-22 07:45:00  0.002407
2011-06-22 08:00:00  0.003370
2011-06-22 08:15:00  0.004718
2011-06-22 08:30:00  0.006605
2011-06-22 08:45:00  0.009247
2011-06-22 09:00:00  0.007397
2011-06-22 09:15:00  0.010356
2011-06-22 09:30:00  0.014499
2011-06-22 09:45:00  0.020298
2011-06-22 10:00:00  0.028418
2011-06-22 10:15:00  0.039785
2011-06-22 10:30:00  0.055699
2011-06-22 10:45:00  0.077978

[140 rows x 1 columns]

# Assignment 2
The DataFrame `df_2` contains the policy date for the threshold of the power level. The dates and times for the threshold is spread over the columns `year`, `month`, `day` and `hour`. Create a pandas Series that has the datetime stamp as index and the threshold as values
<details><summary>Hint 1</summary>
    <p>
        The pandas function `to_datetime` can transform appropriately named columns in a DataFrame to a DateTimeIndex
    </p>
</details>

In [36]:
df2_date=df_2.set_index(pd.to_datetime(df_2[['year','month','day','hour']]))
df2_date

                     year  month  day  hour  threshold
2011-06-21 00:00:00  2011      6   21     0       0.60
2011-06-21 02:00:00  2011      6   21     2       0.73
2011-06-21 04:00:00  2011      6   21     4       0.51
2011-06-21 06:00:00  2011      6   21     6       0.30
2011-06-21 08:00:00  2011      6   21     8       0.19
2011-06-21 10:00:00  2011      6   21    10       0.35
2011-06-21 12:00:00  2011      6   21    12       0.35
2011-06-21 14:00:00  2011      6   21    14       0.05
2011-06-21 16:00:00  2011      6   21    16       0.82
2011-06-21 18:00:00  2011      6   21    18       0.84
2011-06-21 20:00:00  2011      6   21    20       0.71
2011-06-21 22:00:00  2011      6   21    22       0.52
2011-06-22 00:00:00  2011      6   22     0       0.19
2011-06-22 02:00:00  2011      6   22     2       0.13
2011-06-22 04:00:00  2011      6   22     4       0.34
2011-06-22 06:00:00  2011      6   22     6       0.22
2011-06-22 08:00:00  2011      6   22     8       0.20
2011-06-22 10:00:00  2011      6   22    10       0.02

# Assignment 3
The datetime stamp of the threshold indicates the start time of the threshold. We wish to investigate when the level in `df_1` rises above the threshold in `df_2`. Convert `df_2` to have records at 15 minute interval, filling in the current value of the threshold for the newly created records.
<details><summary>Hint 1</summary>
    <p>
        The frequency of a DataFrame with a DateTimeIndex can be changed with the method `asfreq`
    </p>
</details>
<details><summary>Hint 1</summary>
    <p>
        Fill methods `ffill` and `pad` both fill missing values with the last known value
    </p>
</details>

In [37]:
df2_date=df2_date.asfreq(freq='900S',method='pad')
df2_date

                     year  month  day  hour  threshold
2011-06-21 00:00:00  2011      6   21     0       0.60
2011-06-21 00:15:00  2011      6   21     0       0.60
2011-06-21 00:30:00  2011      6   21     0       0.60
2011-06-21 00:45:00  2011      6   21     0       0.60
2011-06-21 01:00:00  2011      6   21     0       0.60
2011-06-21 01:15:00  2011      6   21     0       0.60
2011-06-21 01:30:00  2011      6   21     0       0.60
2011-06-21 01:45:00  2011      6   21     0       0.60
2011-06-21 02:00:00  2011      6   21     2       0.73
2011-06-21 02:15:00  2011      6   21     2       0.73
2011-06-21 02:30:00  2011      6   21     2       0.73
2011-06-21 02:45:00  2011      6   21     2       0.73
2011-06-21 03:00:00  2011      6   21     2       0.73
2011-06-21 03:15:00  2011      6   21     2       0.73
2011-06-21 03:30:00  2011      6   21     2       0.73
2011-06-21 03:45:00  2011      6   21     2       0.73
2011-06-21 04:00:00  2011      6   21     4       0.51
2011-06-21 04:15:00  2011      6   21     4       0.51
2011-06-21 04:30:00  2011      6   21     4       0.51
2011-06-21 04:45:00  2011      6   21     4       0.51
2011-06-21 05:00:00  2011      6   21     4       0.51
2011-06-21 05:15:00  2011      6   21     4       0.51
2011-06-21 05:30:00  2011      6   21     4       0.51
2011-06-21 05:45:00  2011      6   21     4       0.51
2011-06-21 06:00:00  2011      6   21     6       0.30
2011-06-21 06:15:00  2011      6   21     6       0.30
2011-06-21 06:30:00  2011      6   21     6       0.30
2011-06-21 06:45:00  2011      6   21     6       0.30
2011-06-21 07:00:00  2011      6   21     6       0.30
2011-06-21 07:15:00  2011      6   21     6       0.30
...                   ...    ...  ...   ...        ...
2011-06-22 02:45:00  2011      6   22     2       0.13
2011-06-22 03:00:00  2011      6   22     2       0.13
2011-06-22 03:15:00  2011      6   22     2       0.13
2011-06-22 03:30:00  2011      6   22     2       0.13
2011-06-22 03:45:00  2011      6   22     2       0.13
2011-06-22 04:00:00  2011      6   22     4       0.34
2011-06-22 04:15:00  2011      6   22     4       0.34
2011-06-22 04:30:00  2011      6   22     4       0.34
2011-06-22 04:45:00  2011      6   22     4       0.34
2011-06-22 05:00:00  2011      6   22     4       0.34
2011-06-22 05:15:00  2011      6   22     4       0.34
2011-06-22 05:30:00  2011      6   22     4       0.34
2011-06-22 05:45:00  2011      6   22     4       0.34
2011-06-22 06:00:00  2011      6   22     6       0.22
2011-06-22 06:15:00  2011      6   22     6       0.22
2011-06-22 06:30:00  2011      6   22     6       0.22
2011-06-22 06:45:00  2011      6   22     6       0.22
2011-06-22 07:00:00  2011      6   22     6       0.22
2011-06-22 07:15:00  2011      6   22     6       0.22
2011-06-22 07:30:00  2011      6   22     6       0.22
2011-06-22 07:45:00  2011      6   22     6       0.22
2011-06-22 08:00:00  2011      6   22     8       0.20
2011-06-22 08:15:00  2011      6   22     8       0.20
2011-06-22 08:30:00  2011      6   22     8       0.20
2011-06-22 08:45:00  2011      6   22     8       0.20
2011-06-22 09:00:00  2011      6   22     8       0.20
2011-06-22 09:15:00  2011      6   22     8       0.20
2011-06-22 09:30:00  2011      6   22     8       0.20
2011-06-22 09:45:00  2011      6   22     8       0.20
2011-06-22 10:00:00  2011      6   22    10       0.02

[137 rows x 5 columns]

# Assignment 4
Calculate how many minute the level in `df_1` was above the set threshold in `df_2` for the observations between 22:00 and 6:00.
<details><summary>Hint 1</summary>
    <p>
        The method `between_time` makes it possible to set a start and an end time for filtering a DataFrame. A filter set on a time interval is repeated for every date in the DateTimeIndex
    </p>
</details>

In [63]:

time = df1_date["Level"].between_time(start_time='22:00',end_time='6:00') <  df2_date["threshold"].between_time(start_time='22:00',end_time='6:00')
time= time[time == True]
print(time.count()*15)

705

# Assignment 5
Find the length of the longest period, where the rate of change for the Level in `df_1` is growing. That is the longest period where the second derivative
$$
\frac{\Delta^2f}{\Delta t^2} = \frac{\frac{f(t_n)-f(t_{n-1})}{t_n-t_{n-1}}-\frac{f(t_{n-1})-f(t_{n-2})}{t_{n-1}-t_{n-2}}}{t_n-t_{n-1}}
$$
is greater than zero.
<details><summary>Hint 1</summary>
    <p>
        Both DataFrames and Series have the method `rolling`, that allows you to apply a function to a rolling subset of the rows.
    </p>
</details>
<details><summary>Hint 2</summary>
    <p>
        A cummulative sum over a boolean Series can be used to group records together. All `False` values will be in the same group as the last `True` before them.
    </p>
</details>